p {
  color: black;
}

.fixed-comp {
  /* border: 1px solid red; */
  position: relative;
  height: 15.5vw;
  z-index: 20;
  width: 100%;
  background: #f5f4f3;
}

.banner-results {
  background-color: #15326f;
  display: flex;
  align-items: center;
}

.banner-results p {
  color: white;
  margin-left: 2%;
  padding: 1rem 10px;
}

.top-fixed-comp {
  position: fixed;
  width: 100%;
  height: 15.5vw;
  background: #f5f4f3;
}

.search-results {
  /* border: 1px solid red; */
  padding: 0 20px;
  width: 60%;
  height: 85px;
  background: #f5f4f3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filters {
  /* border: 1px solid red; */
  /* height: 50px; */
  padding-left: 20px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5%;
  background: #f5f4f3;
}

.filters div {
  /* border: 1px solid red; */
  padding: 10px 15px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  cursor: pointer;
}

.filters ion-icon {
  height: 1rem;
  margin-right: 8px;
}

.show-results {
  /* border: 1px solid red; */
  /* height: 100vw; */
  position: relative;
  display: flex;
}

.main-results-list,
.main-results-map {
  width: 50%;
  /* border: 1px solid blue; */
  /* padding: 10px; */
}

.main-results-map {
  position: fixed;
  right: 0;
  height: 100%;
}

.map {
  width: 100%;
  height: 100%;
}

.main-results-list {
  padding: 20px;
}

.list-is-here {
  border-top: 1px solid grey;
}

.top-list-location {
  /* border: 1px solid rgb(0, 17, 255); */
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.location {
  /* border: 1px solid green; */
  font-size: 2rem;
  font-weight: 700;
  color: black;
}

.no-list-sort {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10%;
  width: 50%;
  /* border: 1px solid red; */
}

.hotel_name {
  cursor: pointer;
  font-size: 1.125rem;
  line-height: 1.625rem;
  color: #292929;
  margin: 16px 0 4px;
  text-overflow: ellipsis;
  text-align: left;
}

.sort-list {
  /* border: 1px solid blue; */
  padding: 10px 20px;
}

.list-is-here {
  width: 100%;
  /* border: 1px solid red; */
  padding: 10px;
  display: flex;
  gap: 2%;
}

.img-div-list {
  width: 43%;
}

.img-div-list img {
  width: 100%;
}

.details-div-list {
  /* border: 1px solid green; */
  padding: 10px;
  width: 55%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.night-price {
  display: flex;
  justify-content: space-between;
}

.night-price p {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 13%;
}
