.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Nav{
  height:50px;
  border-bottom:1px solid #E0E0E0;
  display: flex;
  align-items: center;
  align-content: space-between;
  margin-left: 1rem;
  gap:2rem;
}

#back-image{
  width:3%;
}
#icon-image{
  align-self: flex-start;
  width:78%;
}

.Sign-in-box{
  border:1px solid transparent;
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: auto;
  
}

.Sign-in-box > p {
  align-self: center;
}

.Input-boxes{
  padding: 1rem;
  margin: 1%;
  border-radius: 0.5rem;
  border: 1px solid #999999;
}
#Sign-in-button{
  padding: 1.15rem;
  border-radius: 1.35rem;
  background-color: #B1C4E7;
  border: none;
  color:white;
  font-weight: 500;
  font-size: 1rem;

}

.Continue-with > img {
  width: 15%;
}
.Continue-with{
  border:1px solid transparent;
  display: flex;
  width:30%;
  margin: auto;
  /* gap:1rem; */
  justify-content: space-between;
}
