a,
p {
  color: #15326f;
  text-decoration: none;
}

.navbar-home {
  width: 100%;
  height: 4.5625rem;
  background: #f9f8f7;
  display: flex;
  justify-content: space-between;
}

.logo-main {
  /* border: 1px solid red; */
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-main img {
  margin-left: 1.875rem;
}

.navigation-nav {
  border: 1px solid blue;
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.menus {
  border: 1px solid red;
  width: 80%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
}

.menus ion-icon {
  margin-right: .5rem;
  color: #15326f;
  height: 1.5625rem;
  width: 1.5625rem;
}

.menus .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: .625rem .9375rem;
}

.menus .menu:hover {
  background: #fff;
  border-radius: .5rem;
}

.list-menu {
  display: flex;
  justify-content: center;
  align-items: center;
}

.drop-down {
  flex-direction: column;
  position: relative;
}

.drop {
  position: absolute;
  top: 3.75rem;
  right: 0;
  z-index: 5;
  background: #fff;
  width: 9.35rem;
  /* padding: 10px 15px; */
  display: flex;
  flex-direction: column;
  border-radius: .5rem;
  display: none;
}

.drop a {
  /* border: 1px solid red; */
  width: 100%;
  padding: .9375rem .9375rem;
  border-radius: .5rem;
}

.drop a:hover {
  background: #f9f8f7;
}

.login.active {
  display: flex;
}

.help.active {
  display: flex;
}

.em img {
  margin-right: .5rem;
}

.navigation-nav .prop {
  border: 1px solid #15326f;
  border-radius: 1.875rem;
  padding: .3%;
  background: transparent;
  color: #15326f;
  font-weight: 700;
}

.navigation-nav .prop:hover {
  transition: 0.5s;
  background: transparent;
  border-radius: 1.875rem;
  box-shadow: inset 0 0 0 .0625rem #15326f;
}
