@import url("https://fonts.googleapis.com/css2?family=Balsamiq+Sans&family=Cabin&family=Source+Sans+Pro&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Balsamiq Sans", cursive;
  font-family: "Cabin", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

body {
  position: relative;
}
